000.txt
a.out
pair.out
p_swp.out
p_swp_intrin.out
p_swp_intrin.txt
sorted.out
s_swp.out
s_intrin.out
s_swp_intrin.out
s_swp_intrin.txt
pair.dat
s_intrin.txt
pair.txt
p_swp.txt
p_intrin.txt
*.swp
*.out
*~